       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            box-sizing: border-box;
            height: 100%;
        }

        *, *:before, *:after {
            box-sizing: inherit;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Dosis', sans-serif;
            background-color: #fadede;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-display: swap;
        }

        .wrapper {
            backdrop-filter: blur(5.5px);
            -webkit-backdrop-filter: blur(5.5px);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            color: #232323;
            background: rgba(255, 255, 255, 0.30);
            border: 1px solid rgba(255, 255, 255, 0.34);
            flex-basis: 400px;
            height: 540px;
            padding: 20px 35px;
        }

        .screen {
            backdrop-filter: blur(5.5px);
            -webkit-backdrop-filter: blur(5.5px);
            background: rgba(255, 255, 255, 0.75);
            border: 1px solid rgba(255, 255, 255, 0.01);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            color: #232323;
            font-size: 35px;
            overflow: auto;
            padding: 20px;
            text-align: right;
            width: 326px;
        }

        .cals-button {
            margin-top: 20px;
        }

        .calc-button-row {
            display: flex;
            justify-content: space-between;
            margin: 5% 0;
            gap: 10px;
        }

        .calc-button {
            backdrop-filter: blur(5.5px);
            -webkit-backdrop-filter: blur(5.5px);
            background: rgba(255, 255, 255, 0.75);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            color: #232323;
            flex-basis: 20%;
            font-family: inherit;
            font-size: 24px;
            height: 65px;
            cursor: pointer;
        }

        .calc-button-double {
            backdrop-filter: blur(5.5px);
            -webkit-backdrop-filter: blur(5.5px);
            background: rgba(255, 255, 255, 0.75);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            color: #232323;
            flex-basis: 47%;
            font-family: inherit;
            font-size: 24px;
            height: 65px;
            cursor: pointer;
        }

        .calc-button:last-child {
            backdrop-filter: blur(5.5px);
            -webkit-backdrop-filter: blur(5.5px);
            background-color: #ff6b6b;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            color: #ffff;
        }

        .calc-button:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .calc-button:active {
            transform: scale(0.98);
        }

        .tripel {
            flex-basis: 73%;
        }

        